schemas/channelbridge-feed-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="channelbridge_feed"><xs:complexType><xs:sequence><xs:element name="partner_id" type="xs:string"/><xs:element name="generated_at" type="xs:dateTime"/><xs:element name="programs"><xs:complexType><xs:sequence><xs:element name="program" minOccurs="0" maxOccurs="unbounded"><xs:complexType><xs:sequence><xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence><xs:attribute name="version" type="xs:string" use="required"/></xs:complexType></xs:element></xs:schema>
